.center
  text-align center

.firstpage-header
  margin-top 150px

.firstpage-footer
  position absolute
  top calc(100% - 100)
  right 0
  bottom 0
  left 0


.logo
  font-weight 400
  font-family: 'Comfortaa', cursive;


.line-through
  text-decoration line-through
